/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme.
*/
@import '~nativescript-theme-core/css/core.light.css';

/*
For example, the following CSS rule changes the font size of all UI
components that have the btn class name.
*/
* {
    font-family: "Varela", "varela-regular";
}

.btn {
    font-size: 18;
}

Page {
    font-size: 20;
   
}

.browselabel{
    font-size: 30;
    text-align: center;
}

.smallbtn {
    font-size:14;
    padding:0;
}

.input {
    font-size: 18;
  }

.action-bar{
    background-color: red;
}

.smallMargin{
    margin-left: 10px;
    margin-right: 10px;
}

.center-element {
    vertical-align: middle;
    margin: 0px auto;
    color: white;
    text-align: center;
}

.video-background {
    background-color: rgb(0, 0, 0);
}