/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme.
*/
@import '~nativescript-theme-core/css/core.light.css';

/*
For example, the following CSS rule changes the font size of all UI
components that have the btn class name.
*/
* {
    font-family: "Varela", "varela-regular";
    font-size: 20;
}

Label, TextField, Button {
    color: rgb(28, 28, 28);
    text-transform: none;
}

.page {
    padding: 5;
}

.modal {
    padding: 5;
    border-radius: 5;
}

.smallbtn {
    font-size: 14;
    padding: 0;
}

.input {
    font-size: 18;
}

.action-bar {
    background-color: red;
}

.action-bar-title {
    font-size: 20;
    color: black;
    text-align: center;
}

.center-element {
    vertical-align: middle;
    margin: 0 auto;
    color: white;
    text-align: center;
}

.center-vertical {
    vertical-align: middle;
    margin-top: 0;
    margin-bottom: 0;
}

.video-background {
    background-color: rgb(0, 0, 0);
}

.video {
    width: 100%;
    horizontal-align: center;
}

.profile-picture-tiny {
    width: 50;
    height: 50;
    vertical-align: top;
    text-align: center;
}

.profile-picture-small {
    width: 100;
    height: 100;
    vertical-align: top;
    text-align: center;
}

.profile-picture-large {
    width: 200;
    height: 200;
    vertical-align: top;
    text-align: center;
}

.picture-small {
    width: 100;
    height: 100;
    vertical-align: middle;
    text-align: center;
}

.picture-large {
    width: 200;
    height: 200;
    vertical-align: middle;
    text-align: center;
}

.button {
    font-size: 20;
    font-weight: bold;
    color: rgb(60, 60, 60);
    padding: 5;
    border-color: rgb(180, 180, 180);
    border-width: 2;
    border-radius: 5;
    background-color: white;
    margin: 5;
}

.button:disabled {
    background-color: rgb(180, 180, 180);
    border-color: rgb(160, 160, 160);
}

.button-primary {
    font-size: 20;
    font-weight: bold;
    padding: 5;
    border-color: red;
    border-width: 2;
    border-radius: 5;
    background-color: white;
    margin: 5;
}

.button-primary:disabled {
    background-color: rgb(180, 180, 180);
    border-color: rgb(160, 160, 160);
}

.button-clear {
    font-size: 20;
    font-weight: bold;
    padding: 5;
    border: 0;
    border-radius: 5;
    background-color: transparent;
}

.button-clear:disabled {
    color: grey;
}

.button-container > Button {
    background-color: transparent;
    margin: 0;
    padding: 0;
}

.screen-cover-load-wheel {
    width: 50;
    height: 50;
    margin: auto auto;
}

.pair-wrap {
    padding-top: 3;
    padding-bottom: 3;
    justify-content: space-between;
}

.pair-label {
    padding: 0;
    width: auto;
    margin-right: 10;
}

.pair-value {
    padding: 0;
    width: 100%;
}

.pair-value-small {
    width: 300;
    horizontal-align: right;
}

.input {

}

.input-open-modal {
    background-color: transparent;
    border-color: rgb(180, 180, 180);
    border-width: 1;
    padding: 5;
    text-align: left;
    vertical-align: text-bottom;
}

.input-text {
    border-bottom-color: rgb(180, 180, 180);
    border-bottom-width: 1;
}

.input-dropdown {
    border-bottom-color: rgb(180, 180, 180);
    border-bottom-width: 1;
}

.input-switch {

}

.input-slider {
    color: blue;
}

.issue-field {
    border-color: red;
    border-width: 2;
}

.text-header {
    font-size: 24;
    padding: 5 0;
    margin: 5 0;
    border-bottom-color: rgb(225, 225, 225);
    border-bottom-width: 1;
}

.modal-header {
    margin: auto;
    text-align: center;
    border-bottom-width: 1;
}

.text-info {
    color: rgb(48, 48, 48);
}

.text-label {

}

.text-important {
    font-size: 28;
    font-weight: bold;
    margin: 5 5 10 5;
}


.fas {
    font-family: Font Awesome 5 Free, fa-solid-900;
    font-weight: 900;
}

