.border-search {
    background:lightblue;
}

.searchForm {
    padding: 10;
}

.input-dropdown{
    margin: 2% 0;
    background-color: white;
    border-color: rgb(180, 180, 180);
    border-width: 2;
    border-radius: 5;
    color:black;
    padding: 7;
    margin: 5;
}

.input-dropdown:disabled {
    opacity: 0.5
}

.section{
    border-color: rgb(180, 180, 180);
    border-bottom: 2;
}
